.page {
  background-image: linear-gradient(to top right, #f16e24, #edc64f);
}

.buttons{
  color: #fcfaba;
}

.active-btn{
  color: #de9137;
  background-color: #fcfaba;
  border: 1px solid #eb8d36;
}

.default-btn{
  background-color: #eb8d36;
  border: 1px solid #fcfaba;
}

.default-btn:hover{
  background-color: #eda24b;
  border: 1px solid #fcfaba;
}
