.page{
  background-image: linear-gradient(to top right, #290f7e, #cd5ad6);
}

.buttons{
  color: #f6c3fa;
}

.active-btn{
  background-color: #8e4dc1;
  border: 1px solid #f9b0ff;
}

.default-btn{
  background-color: #694f86;
  border: 1px solid #b085f5;
}

.default-btn:hover{
  background-color: #7C4EA4;
  border: 1px solid #D59BFA;
}
