/* page background */
.page {
  background-image: -webkit-linear-gradient(bottom left, #cf4307, #ffc630);
  background-image: -o-linear-gradient(bottom left, #cf4307, #ffc630);
  background-image: linear-gradient(to top right, #cf4307, #ffc630);
}

a{
  color: #a2ff45;
}

/* Buttons */
.default-btn{
  color: #ffe9bf;
  background-color: #e8854d;
  border: 1px solid #f7cfae;
}

.active-btn{
  color: #fffee7;
  background-color: #f09d47;
  border: 1px solid #fcfaba;
}

.default-btn:hover{
  background-color: #EC914A;
  border: 1px solid #fcfaba;
}

.linkbtns{
  background-image: -webkit-linear-gradient(left, #62734f, #607e48);
  background-image: -o-linear-gradient(left, #62734f, #607e48);
  background-image: linear-gradient(to right, #62734f, #607e48);
  border: 1px solid #74ac56;
  color: #a2ff45;
}

.linkbtns:hover{
  border: 1px solid #93f656;
}

.github{
  background-image: none;
  background-color: #333 !important;
  color: white;
}
.twitter{
  background-image: none;
  background-color: #1da1f2;
  color: white;
}
.twitter2{
  background-image: none;
  background-color: #7289da;
  color: white;
}
