/* Buttons */

a{
  color: #77e7e0;
}

button{
  outline: none;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover{
  cursor: pointer;
}

#btn-container{
  padding: 12px 0px 0px 0px;

}

.buttons{
  text-transform: uppercase;
  margin: 8px;
  border-radius: 5px;
  width: 75px;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.visible{
  visibility: visible;
}

.invisible{
  display: none;
}

/* Animations */

.animated {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInBottom {
  0% {
     opacity: 0;
     -webkit-transform: translateY(20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateY(0);
  }
}

@keyframes fadeInBottom {
  0% {
     opacity: 0;
     transform: translateY(20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

.fadeInBottom {
  -webkit-animation-name: fadeInBottom;
  animation-name: fadeInBottom;
}

@-webkit-keyframes fadeIn {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/* Project Buttons */
.linkbtns {
  height: 45px;
  margin-bottom: 20px;
  text-decoration: none;
  background-color: #315c6c;
  color: #77e7c9;
  border: 1px solid #56ac95;
  border-radius: 5px;
}

.linkbtns:hover{
  border: 1px solid #6ED7BB;
}

/* Specific buttons */
.hscm{
  background-image: linear-gradient(to right, #69817a , #436263)
}
.hsch{

}
.hsqc{

}
.github{
  background-color: #333;
}
.twitter{
  background-color: #1da1f2;
}
.discord{
  background-color: #7289da;
}
