.buttons{
  color: #fcfaba;
}

.page {
  background-image: linear-gradient(to top right, #edc64f, #f16e24);
}

.active-btn{
  background-color: #eda24b;
  color: #fcfaba;
  border: 1px solid #fcfaba;
}

.default-btn{
  background-color: #eda24b;
  border: 1px solid #fcfaba;
}

.default-btn:hover{
  background-color: #eda24b;
  border: 1px solid #fcfaba;
}
